* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

.main::before {
    content: "";
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/c31c3123-3df7-4359-8b8c-475bd2d9925d/15feb590-3d73-45e9-9e4a-2eb334c83921/IN-en-20231225-popsignuptwoweeks-perspective_alpha_website_large.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
}

.navbar {
    height: 100px;
    display: flex;
}

.left {
    height: 100%;
    display: flex;
    float: left;
}

.left img {
    height: 70px;
    position: absolute;
    left: 150px;
    padding: 10px;

}

.right {
    height: 100px;
    display: flex;
    float: right;
    position: absolute;
    right: 35px;
}

.lang {
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 7px 10px;
    color: white;
    background: none;
    margin-right: 15px;
    border-radius: 5px;
}

.lang option {
    background-color: white;
    color: black;
}

button {
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    padding: 7px 17px;
    background-color: red;
    /* cursor: pointer; */
    outline: none;
    border-radius: 4px;
    border: none;

}

button a {
    text-decoration: none;
    color: white;
}

.title {
    padding: 70px 45px;
}

.content {

    margin: auto;
    padding: 75px;
    text-align: center;
}

.content h1 {
    margin: auto;
    text-align: center;
    font-size: 3.1rem;
    font-weight: bolder;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.content h2 {
    width: 650px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 400;
}

.content form h3 {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    margin: 10px 0px;
    text-align: center;
    font-weight: 400;
}

.email {
    width: 1000px;
    margin: auto;
}

.email input {
    height: 60px;
    width: 400px;
    margin: auto;
    padding: 20px;
    font-size: 18px;
    outline: none;
    background: none;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
}

.email button {
    margin: auto;
    height: 55px;
    width: 180px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    height: 0.5rem;
    position: absolute;
    bottom: -0.5rem;
    background-color: rgb(35, 35, 35);
    display: block;
}
.line2 {
    width: 100%;
    height: 0.5rem;
    position: absolute;
    /* bottom: -0.5rem; */
    background-color: rgb(35, 35, 35);
    display: block;
}

.tv {
    height: 500px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.tv h2 {

    font-size: 40px;
    width: 500px;
    height: 50px;
    margin-left: 150px;
    margin-top: 200px;
    font-weight: 700;
}

.tv p {
    font-size: 1.9rem;
    width: 700px;
    height: 70px;
    margin-left: 150px;
}

.img {
    display: flex;
    margin-left: 840px;
    margin-top: -300px;
    position: relative;
    background: none;
    z-index: 2;
}

.tv video {
    display: flex;
    margin-left: 910px;
    position: absolute;
    z-index: 1;
    padding: 42px;
    padding-top: 90px;
    margin-left: 875px;
}
.phone {
    height: 500px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.phone h2 {

    font-size: 40px;
    width: 500px;
    height: 50px;
    margin-left:700px;
    margin-top: -300px;
    font-weight: 800;  
}
.phone p {
    font-size: 1.6rem;
    width: 700px;
    height: 70px;
    margin-left: 700px;
    margin-top: 70px;
}
.laptop {
    height: 500px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.laptop h2{
    font-size: 40px;
   
    margin-right:700px;
    margin-top: -850px;
    font-weight: 800;
    padding: 100px;  
    
}
.laptop p{
    font-size: 1.6rem;
    
    margin-right: 700px;
   margin-top: -200px;
    padding: 100px; 
}
.laptop img{
   margin-bottom: 500px;
   margin-left: 750px;
   position: relative;
   z-index: 2;
}
.laptop video{
    display: flex;
    margin-left: px;
    position: absolute;
    z-index: 1;
    padding: 42px;
    padding-top: 50px;
    margin-left: 850px;
    width: 450px;
}
.child{
    height: 500px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.child h2{
    font-size: 40px;
    width: 500px;
    height: 50px;
    margin-left:700px;
    margin-top: -300px;
    font-weight: 800;  
}
.child p{
    font-size: 1.6rem;
    width: 700px;
    height: 70px;
    margin-left: 700px;
    margin-top: -5px;
}
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;;
}
.faq h2{
    font-weight: 700;
    font-size: 50px;
}
.ul-main{
    margin: 60px auto;
    width: 100%;
    max-width: px;
}
.ul-main li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.ul-main li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    position: relative;
    cursor: pointer;
}
label::after{
    content: '+';
    font-size: 40px;
    position: absolute;
    right:20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.para{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.ul-main input[type="radio"]:checked + label + .para
{
    max-height:600px;
    padding: 30px 20px;
}
.ul-main input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
div form h3 {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    margin: 10px 0px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.email2 {
    width: 1000px;
    margin: auto;
}
.email2 input {
    height: 60px;
    width: 400px;
    margin: auto;
    margin-left: 200px;
    padding: 20px;
    font-size: 19px;
    outline: none;
    background: none;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
}
.email2 button {
    margin: auto;
    height: 55px;
    width: 180px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.footer {
    color: white;
    height: 200px;
    padding: 50px;
}

.footer a {
    color: white;
}

.one {
    color: white;
    width: 300px;
    height: 350px;
    margin-left: 110px;
    padding: 30px;
    font-size: 14px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.two {
    color: white;

    width: 300px;
    height: 350px;
    margin-left: 420px;
    margin-top: -350px;
    padding: 40px;
    font-size: 14px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.three {
    color: white;

    width: 300px;
    height: 350px;
    margin-left: 730px;
    margin-top: -350px;
    padding: 40px;
    font-size: 14px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.four {
    color: white;

    width: 300px;
    height: 350px;
    margin-left: 1040px;
    margin-top: -350px;
    padding: 40px;
    font-size: 14px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
hr{
  color:gray;
}

@media (max-width: 1024px) {
    .content {
        padding: 40px 20px;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .content h2 {
        width: auto;
        padding: 15px 10px;
    }

    .tv h2,
    .phone h2,
    .laptop h2,
    .child h2 {
        font-size: 2.2rem;
        width: auto;
        margin-left: 0;
        margin-right: 0;
        padding: 0 1rem;
    }

    .tv p,
    .phone p,
    .laptop p,
    .child p {
        font-size: 1.2rem;
        width: auto;
        margin: 1rem auto 0;
        padding: 0 1.5rem;
    }

    .email,
    .email2 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: auto;
        padding: 1.5rem 1rem;
    }

    .left {
        float: none;
    }

    .left img {
        position: static;
        height: 55px;
        padding: 0;
    }

    .right {
        position: static;
        float: none;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0.75rem;
    }

    .lang,
    button {
        font-size: 16px;
        padding: 0.5rem 1rem;
    }

    .title {
        padding: 40px 20px;
    }

    .content {
        padding: 40px 15px;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content h2 {
        font-size: 1.2rem;
    }

    .content form h3,
    div form h3 {
        font-size: 1rem;
        padding: 0 0.5rem;
    }

    .email,
    .email2 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0.75rem;
        max-width: 100%;
    }

    .email input,
    .email2 input,
    .email button,
    .email2 button {
        width: 100%;
        margin: 0;
    }

    .email button,
    .email2 button {
        height: auto;
        font-size: 1.1rem;
        padding: 0.75rem;
    }

    .line,
    .line2 {
        position: static;
    }

    .tv,
    .phone,
    .laptop,
    .child {
        height: auto;
        padding: 2.5rem 1.5rem;
        text-align: center;
    }

    .tv > div,
    .laptop {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .img,
    .phone img,
    .laptop img,
    .child img {
        margin: 0;
        width: 100%;
        max-width: 500px;
    }

    .tv video,
    .laptop video {
        position: static;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 500px;
    }

    .phone h2,
    .phone p,
    .child h2,
    .child p,
    .laptop h2,
    .laptop p {
        margin: 0;
        padding: 0 0.5rem;
    }

    .faq {
        padding: 20px 1rem;
    }

    .faq h2 {
        font-size: 2rem;
    }

    .ul-main li label {
        font-size: 1.1rem;
    }

    .footer {
        padding: 2rem 1.5rem;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        height: auto;
    }

    .one,
    .two,
    .three,
    .four {
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .navbar {
        gap: 0.75rem;
        padding: 1.25rem 0.75rem;
    }

    .content h1 {
        font-size: 1.75rem;
    }

    .content h2 {
        font-size: 1.05rem;
    }

    .faq h2 {
        font-size: 1.75rem;
    }

    .ul-main li label {
        font-size: 1rem;
        padding: 15px;
    }

    .para {
        font-size: 0.95rem;
    }

    button {
        font-size: 15px;
        padding: 0.6rem 0.9rem;
    }

    .footer {
        grid-template-columns: 1fr;
        text-align: center;
    }
}